.DraftTextEditStyleButton-Button_active:enabled {
  color: white;
  background: #242b38;
}

.DraftTextEditStyleButton-Button_active:enabled:hover {
  background: #373e4a;
}

.DraftTextEditStyleButton-Button_active:enabled:active {
  background: #4b515c;
}
