.DraftTextEditInput {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 2em;
  padding: 0 0.5em;
  cursor: text;
  transition: border-color 150ms ease;
  color: #242b38;
  border: 0.0625em solid #c7ccdb;
  border-radius: 0.5em;
  background: white;
  font-size: 1rem;
  will-change: border-color;
}

.DraftTextEditInput_disabled {
  cursor: not-allowed;
  background: rgba(225, 229, 238, 0.2);
}

.DraftTextEditInput_hasFocus {
  border-color: #33a1fd;
}

.DraftTextEditInput_size_small {
  height: 1.5em;
  border-radius: 0.375em;
}

.DraftTextEditInput_size_large {
  height: 3em;
  border-radius: 0.625em;
}

.DraftTextEditInput-DOMInput {
  flex: 1;
  box-sizing: border-box;
  min-width: 0;
  cursor: inherit;
  border: none;
  outline: none;
  background: none;
  font-size: 0.875em;
  appearance: none;
}

.DraftTextEditInput_size_small .DraftTextEditInput-DOMInput {
  font-size: 0.8125em;
}

.DraftTextEditInput_size_large .DraftTextEditInput-DOMInput {
  font-size: 1em;
}

.DraftTextEditInput-Icon,
.DraftTextEditInput-ClearButton {
  margin: 0;
  padding: 0;
  cursor: inherit;
  transition: color 150ms ease;
  color: #767b91;
  font-size: 0.75em;
  line-height: 1;
  will-change: color;
}

.DraftTextEditInput_hasFocus .DraftTextEditInput-Icon {
  color: #33a1fd;
}

.DraftTextEditInput-ClearButton {
  margin-left: 0.6666666667em;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  appearance: none;
}

.DraftTextEditInput-ClearButton:hover {
  transition: color 150ms ease;
  color: #242b38;
}

.DraftTextEditInput_disabled .DraftTextEditInput-Icon,
.DraftTextEditInput_disabled .DraftTextEditInput-ClearButton {
  cursor: inherit;
  color: #c7ccdb;
}

.DraftTextEditInput_size_small .DraftTextEditInput-Icon,
.DraftTextEditInput_size_small .DraftTextEditInput-ClearButton {
  font-size: 0.625em;
}

.DraftTextEditInput_size_small .DraftTextEditInput-Icon {
  margin-right: 0.8em;
}

.DraftTextEditInput_size_small .DraftTextEditInput-ClearButton {
  margin-left: 0.8em;
}

.DraftTextEditInput_size_large .DraftTextEditInput-Icon,
.DraftTextEditInput_size_large .DraftTextEditInput-ClearButton {
  font-size: 0.875em;
}

.DraftTextEditInput_size_large .DraftTextEditInput-Icon {
  margin-right: 0.5714285714em;
}

.DraftTextEditInput_size_large .DraftTextEditInput-ClearButton {
  margin-left: 0.5714285714em;
}
