{
  "presets": ["env", "react"],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "test": {
      "plugins": ["./config/babel-plugins/babel-plugin-remove-css-imports.js"]
    },
    "development": {
      "plugins": ["./config/babel-plugins/babel-plugin-remove-css-imports.js"]
    },
    "production": {
      "plugins": ["./config/babel-plugins/babel-plugin-remove-css-imports.js"]
    }
  }
}
