.DraftTextEditButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 150ms ease, background-color 150ms ease;
  letter-spacing: -0.015em;
  color: white;
  border: 1px solid #767b91;
  border-radius: 0.5em;
  outline: none;
  background: #767b91;
  font-size: 0.875rem;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.DraftTextEditButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.DraftTextEditButton:focus {
  box-shadow: 0 0 0 0.1428571429em #a7abb9;
}

.DraftTextEditButton:enabled:hover {
  border-color: #616577;
  background: #616577;
}

.DraftTextEditButton:enabled:active {
  border-color: #4c4f5d;
  background: #4c4f5d;
}

.DraftTextEditButton_primary {
  border-color: #33a1fd;
  background: #33a1fd;
}

.DraftTextEditButton_primary:focus {
  box-shadow: 0 0 0 0.1428571429em #a2d4fe;
}

.DraftTextEditButton_primary:enabled:hover {
  border-color: #2f93e6;
  background: #2f93e6;
}

.DraftTextEditButton_primary:enabled:active {
  border-color: #2a84d0;
  background: #2a84d0;
}

.DraftTextEditButton_size_small {
  height: 2.2857142857em;
  padding: 0 0.8571428571em;
}

.DraftTextEditButton_size_large {
  height: 3.4285714286em;
  padding: 0 2.1428571429em;
}

.DraftTextEditButton_variant_outlined,
.DraftTextEditButton_variant_outlined:enabled:hover,
.DraftTextEditButton_variant_outlined:enabled:active {
  color: #616577;
  border-color: #616577;
  background: none;
}

.DraftTextEditButton_variant_outlined.DraftTextEditButton_primary,
.DraftTextEditButton_variant_outlined.DraftTextEditButton_primary:enabled:hover,
.DraftTextEditButton_variant_outlined.DraftTextEditButton_primary:enabled:active {
  color: #33a1fd;
  border-color: #33a1fd;
}

.DraftTextEditButton_variant_text {
  color: #616577;
  border-color: transparent;
  background: none;
}

.DraftTextEditButton_variant_text:enabled:hover {
  border-color: transparent;
  background: #e1e5ee;
}

.DraftTextEditButton_variant_text.DraftTextEditButton_primary {
  color: #33a1fd;
}

.DraftTextEditButton_variant_text.DraftTextEditButton_primary:enabled:hover {
  background: #d9edfe;
}
