.Button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 4rem;
  height: 2.25rem;
  padding: 0 1rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.28s ease-out;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 0.125rem;
  outline: none;
  background: #007bff;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.25rem;
  appearance: none;
  will-change: background-color;
}

.Button:hover {
  background: #0069d9;
}
