.DraftTextEditBlockTypeOption {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 2rem;
  padding: 0 2rem;
  cursor: pointer;
  white-space: nowrap;
  color: #242b38;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  line-height: 1;
}

.DraftTextEditBlockTypeOption:hover {
  background: #d9edfe;
}

.DraftTextEditBlockTypeOption_style_header-one {
  height: 3rem;
  font-size: 1.9375em;
  font-weight: 700;
}

.DraftTextEditBlockTypeOption_style_header-two {
  height: 2.5rem;
  font-size: 1.5625rem;
  font-weight: 700;
}

.DraftTextEditBlockTypeOption_style_header-three {
  height: 2.5rem;
  font-size: 1.25em;
  font-weight: 700;
}

.DraftTextEditBlockTypeOption_style_header-four {
  font-size: 1rem;
  font-weight: 700;
}

.DraftTextEditBlockTypeOption_style_header-five {
  font-size: 0.875rem;
  font-weight: 700;
}

.DraftTextEditBlockTypeOption_style_header-six {
  font-size: 0.75rem;
  font-weight: 700;
}

.DraftTextEditBlockTypeOption_style_code-block {
  font-family: 'PT Mono', monospace;
}

.DraftTextEditBlockTypeOption_style_unordered-list-item::before {
  padding-right: 0.5em;
  content: '\02022';
}

.DraftTextEditBlockTypeOption_style_ordered-list-item::before {
  padding-right: 0.5em;
  content: '1.';
}

.DraftTextEditBlockTypeOption-SelectedIcon {
  position: absolute;
  left: 0.5rem;
  color: #33a1fd;
  font-size: 0.875rem;
}
