.DraftTextEditDropdownMenu {
  display: inline-flex;
}

.DraftTextEditDropdownMenu-Switcher {
  display: inline-flex;
}

.DraftTextEditDropdownMenu-Popover {
  pointer-events: none;
  opacity: 0;
}

.DraftTextEditDropdownMenu-Backdrop {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
