.DraftTextEditToolbar {
  position: absolute;
  z-index: 99;
  width: 100%;
  font-size: 1rem;
}

.DraftTextEditToolbar::before,
.DraftTextEditToolbar::after {
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  width: 1em;
  height: 100%;
  content: '';
}

.DraftTextEditToolbar::before {
  left: 0;
  border-top-left-radius: 0.25em;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.DraftTextEditToolbar::after {
  right: 0;
  border-top-right-radius: 0.25em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.DraftTextEditToolbar_sticky_top {
  position: fixed;
  top: 0;
  box-shadow: 0 0.125em 0.5em rgba(36, 43, 56, 0.2);
}

.DraftTextEditToolbar_sticky_bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

.DraftTextEditToolbar_sticky_bottom::before {
  border-bottom-left-radius: 0.25em;
}

.DraftTextEditToolbar_sticky_bottom::after {
  border-bottom-right-radius: 0.25em;
}

.DraftTextEditToolbar-InnerWrapper {
  display: flex;
  overflow-x: auto;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  min-height: 3em;
  padding: 0 1em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}

.DraftTextEditToolbar_sticky_bottom .DraftTextEditToolbar-InnerWrapper {
  border-bottom-right-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
