.DraftTextEditControlsGroup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  list-style: none;
  border-right: 0.0625rem solid #e1e5ee;
  border-left: 0.0625rem solid #e1e5ee;
}

.DraftTextEditControlsGroup:first-child {
  padding-left: 0;
  border-left: none;
}

.DraftTextEditControlsGroup:last-child {
  padding-right: 0;
  border-right: none;
}

.DraftTextEditControlsGroup + .DraftTextEditControlsGroup {
  border-left: none;
}

.DraftTextEditControlsGroup-Control + .DraftTextEditControlsGroup-Control {
  margin-left: 0.25rem;
}
