.DraftTextEditTooltip {
  position: fixed;
  z-index: 999;
  transition: opacity 150ms ease;
  pointer-events: none;
  opacity: 0;
}

.DraftTextEditTooltipWrapper {
  position: relative;
  display: inline-block;
}
