@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic-ext');

.typography .paragraph,
.typography .header-1,
.typography .header-2,
.typography .header-3,
.typography .header-4,
.typography .header-5,
.typography .header-6 {
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5rem;
}

.typography .paragraph {
  margin: auto auto 1.5rem;
  font-size: 1rem;
}

.typography .header-1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.9375rem;
  line-height: 3rem;
}

.typography .header-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5625rem;
}

.typography .header-3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.typography .header-4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.typography .header-5 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.typography .header-6 {
  margin: 1.5rem 0;
  font-size: 0.75rem;
}
